*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#nav1,#nav2 div{
    background-color: #E42529;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 5px;
}
#nav1 button{
    background:transparent;
    width: 220px;
    border:0;
}
#nav1 div i,#nav2 div i{
    color: white;
}
.new1{
    border-top: 1px solid red;
}
#nav1 a,#nav2>div>a,#nav2>div>p{
    color: white;
    text-decoration:none;
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
#nav2 div{
    width: 11%;
    display: flex;
    justify-content: space-between;
}
#nav2 #wel{
    width: 17%;
    display: flex;
    justify-content: space-between;
}
#nav2{
    display: flex;
    justify-content: space-between;
    background-color: #E42529;
    align-items: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 0px;
}
form{
    width: 450px;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: 0;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
form button,form input{
    background:transparent;
    border:0;
    outline: none;
    margin-left: 0px;
}
#nav3{
    background-color:#003380;
    display: flex;
    justify-content: space-between;
    padding-left:25px;
    padding-right:25px;
}
#nav3 button{
    color: white;
    font-size:14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color:#003380 ;
    border: 0;
    width: auto;
    height: 40px;
}
#nav3 button:hover{
    background-color:#E42529 ; 
    cursor: pointer;
}
.drop{
    display: none;
    position: absolute;
    width: 200px;
    z-index: 1;
}
.drop a{
    text-decoration: none;
    display: flex;
    color: white;
    width: 250px;
    background-color: #303F9F;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.drop a:hover{
    text-decoration: underline;
}
.menu:hover .drop{
    display: block;
}

/* ========================================================================FOOTER======================================================================== */
.footer{
    padding: 20px 0px 0px 20px ;
    background-color: #003380;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.footer .con .row .column ul li a{
    color: white;
    text-decoration:none;
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
    padding-left: 0px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    width: 25%;
    padding-left: 0px;
    /* border: 1px solid black; */
}
.column ul li,.column h4{
    margin-bottom: 10px;
}
.column .social a{
    display: inline-block;
    height: 40px;
    width: 15px;
    margin-right: 10px;
    color: white;
}
.column .social a:hover{
    color: wheat;
}
@media only screen and (min-width: 889px) {
    
}
/* ================================================================CARD PAGE========================================================================== */
